# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: abelov <marvin@42.fr>                      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/12/05 00:15:21 by abelov            #+#    #+#              #
#    Updated: 2023/12/05 00:15:29 by abelov           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

#main program
minishell

#for test
tester/*
!tester/minitest.sh

#libraries
*.a

#object files
build/
*.o

#executables
a.out

#for readline memory leak
suppressions.supp